{{!-- {{input
  value=value
  key-up=(action "handleFilterEntry")
  class="light"
  placeholder="Filter By Skills"
}} --}}
<div class="layout-row">
  <div class="layout-column">
    {{paper-input
      class="flex-50" 
      label="Filter by skill" 
      placeholder="Enter name" 
      value=value 
      onKeyUp=(action "handleFilterEntry")
      onChange=(action (mut value))
    }}
  </div>
</div>
{{yield results}}