  {{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>
      HR Candidates tool    
    </h2>
    <span class="flex"></span>
    {{#paper-button}}
        {{#link-to "candidates" class="align-right"}}
            Candidates
        {{/link-to}}
    {{/paper-button}}
    {{#paper-button}}
        {{#link-to "about" class="menu-about"}}
            About
        {{/link-to}}
    {{/paper-button}}
        {{#paper-button}}
        {{#link-to "contact" class="menu-about"}}
            Contact me
        {{/link-to}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}