<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About This Project</h2>
  <p>
    This is a project created to test emberJS and my skills to BuildEmpire.
    {{#link-to "contact" class="button"}}
    Contact Me
  {{/link-to}}
  </p>
</div>