


{{#list-filter
 filter=(action "filterBySkill")
as |filteredResults|
}}
<div class="layout-row layout-align-center-center layout-wrap">
    {{#each filteredResults as |candidate|}}
      {{people-list person=candidate}}
    {{/each}}
</div>

{{/list-filter}}

{{outlet}}
