<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact me</h2>
  <address>
    Emilse Varela
    <p>
      Lisbon, Portugal
    </p>
    <a href="https://github.com/kidema">GitHub</a><br>
  </address>
</div>